html{
  height: 100%;
}
body {
  min-height: 100%;
}
body{
	font-family: 'Roboto', sans-serif!important;
	font-size: 15px;
	padding: 0!important;
	margin: 0;
}
/*Mudança de cores dos botões*/
.btn{
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 0;
}
.btn-primary{
	background-color: #3498db;
}
.btn-danger{
	background-color: #e74c3c;
}
.btn-lg{
	font-size: 17px;
}
.btn-default{
	color: #000;
	border: #bdc3c7 solid 1px;
}
.btn-default:hover{
	background-color: #F3F3F3;
}

.page-wrap{
	min-height: 100%;
}

.col-left{
	position: fixed;
	height: 100%;
	background-color: #3F51B5;
	width: 18%;
	overflow: auto;
}
.col-right{
	padding: 25px 15px;
}

.row-add-button{
	padding-top: 10px;
	padding-bottom: 20px;
}

input{
	outline: none!!important;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
	.custom-flash{
		width: 96%!important;
		margin: 2%!important;
		margin-bottom: 4%!important;
	}
	.col-right {
		margin-left: 0
	};
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.col-right {
		margin-left: 0
	};
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.col-right {
		margin-left: 18%;
	};
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.col-right {
		margin-left: 18%;
	};
}

textarea {
	resize: vertical !important;
}
.side-menu{
	margin-bottom: 20px;
}
.side-menu li a{
	color: #FFF;
}
.side-menu li.active > a, .side-menu li a:hover, .side-menu li a:active, .side-menu li a:focus{
	background-color: #3749ac!important;
}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-flash{
	position: absolute;
	margin: 0 0 30px 10px;
	bottom: 0;
	z-index: 10;
	color: #FFF;
	background-color: #000;
	padding: 20px;
	font-size: 15px;
}

.custom-flash-error{
	background-color: #f2dede;
	color: #a94442;
	border-left: 6px #e74c3c solid;
}
.custom-flash-success{
	background-color: #dff0d8;
	color: #3c763d;
	border-left: 6px #2ecc71 solid;
}

.text-default{
	font-size: 16px;
	color: #555;
	line-height: 25px;
	font-family: 'PT Serif', serif;
}

.custom-breadcrumb{
	border-bottom: #EEE solid 1px;
	margin-bottom: 30px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 18px 15px;
	color: #3F3F44;
}
.custom-breadcrumb-active{
	font-size: 18px;
}

.btn-clean{
	border: 0;
	background: none;
	width: auto;
	height: auto;
	padding: 0;
	outline: 0!important;
}
.btn-clean:hover{
	background: none;
}
.tag {
	padding: 5px 10px;
	font-size: 14px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.tag .tag-remove {
	font-size: 18px;
	padding-left: 5px;
	cursor: pointer;
}

/*LOGIN*/
.login-bg{
	background-color: #EEE;
}
.login-box{
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 30px;
}
.login-box input{
	font-size: 15px;
}