.sidemenu-brand, .navbar-brand{
	color: #e74c3c!important;
}
/*.sidemenu-brand, .side-menu li a, .sidemenu-name-display{
	color: #FFF;
}*/
/*.col-left{
	background-color: #c0392b;
}
.side-menu li.active > a, .side-menu li a:hover, .side-menu li a:active, .side-menu li a:focus{
	background-color: #B83729!important;
	color: #FFF!important;
}
.sidemenu-name-display{
	background-color: #c0392b;
}*/